#introduction {
	background-color: hsl(0, 0%, 90%);
	color: green;
	padding: 40px;
	text-align: center;
	margin-top: 0px;
}

.avatar {
	border-radius: 50%;
	position: absolute;
	top: 20px;
	right: 20px;
	max-width: 5%;
	border-color: white;
	border-width: 2px;
}

.shell {
	background-color: black;
	padding-left: 5px;
	color: white; /* alternatively green? */
}

.center {
	margin: auto;
}

body {
	display: flex;
	flex-direction: column;
	font: 16px monospace, monospace;
	min-height: 98dvh;
}

header {
	flex-shrink: 1;
}

article {
	flex-grow: 1;
	padding-left: 4px;
}

footer {
	background-color: hsl(0, 0%, 90%);
	color: darkgreen;
	padding: 30px;
	text-align: center;
	flex-shrink: 1;
	margin-bottom: 0px;
}

img {
	border-style: solid;
	border-width: 5px;
	border-color: white;
	float: left;
	max-width: 200px;
}

blockquote {
	border-left: 5px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	width: auto;
	display: table;
}

td {
	display: table-cell;
	vertical-align: middle;
	display: flex;
}

table, th {
	border: 1px solid;
	border-collapse: collapse;
	margin: auto;
}

td {
	border-top: 1px solid;
}

td p {
	margin: auto;
	text-align: center;
	padding: 3vw;
}

#cowsay {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.error {
	color: #FF0000;
	/*color: green;*/
}
